*{
    font-family: 'Roboto Condensed', sans-serif;
}
html{
    background-color: #EEE;
}
body{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 75vh;
    text-align: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
}
body>section{
    width: 90%;
    margin: auto;
}
body>section>h4,body>section>h6{
    text-align: center;
}
.service_card {
    background: #EEE;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.service_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.service_card > h3{
    font-weight: 500;
}
.service_card>h2>.material-symbols-outlined{
    margin: 5px;
    margin-bottom: 0px;
    margin-top: 0;
    vertical-align: middle;
}
.service_list>.service_card>button {
    margin: 5px;
    background: #00c700;
    color: aliceblue;
    border: none;
    padding: 10px;
    width: 75%;
    font-size: large;
    border-radius: 10px;
}
.service_list>.service_card>button:hover {
    background: #00d800;
    color: gainsboro;
    cursor: pointer;
}
#iguserinputname>form>input{
    width: 75%;
    font-size: larger;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #dddddd;
}
#iguserinputname>form>button{
    font-size: larger;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #00d800;
    color: white;
    width: 30%;
    margin-top: 15px;
}
#iguserinputname>form>:last-child{
    font-size: larger;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #808080;
    color: white;
    width: 30%;
    margin-top: 15px;
}
.confirmationbutton{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.confirmationbutton > button{
    font-size: larger;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #00d800;
    color: white;
    width: 95%;
    margin-top: 15px;
}
.confirmationbutton > :last-child{
    background-color: #808080;
}
button{
    cursor: pointer;
}
@media only screen and (max-width : 1068px) {
    .service_list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    body {
        height: fit-content;
        overflow: scroll;
    }
    .confirmationbutton{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (max-width : 847px) {
    .service_list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    body {
        height: fit-content;
        overflow: scroll;
    }
    .confirmationbutton{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
